[submodule "W04H01/pgdp2324w04h01-go69ziq"]
	path = W04H01/pgdp2324w04h01-go69ziq
	url = https://go69ziq:BBDC-MTg5MjMyNjI4MzYwOpNDC5vBLwuvBToFU9x51+zdHsAK@bitbucket.ase.in.tum.de/scm/PGDP2324W04H01/pgdp2324w04h01-go69ziq.git
